_integrations/Snowflake/Cleanup.sql

.ssh/
.vscode/settings.json

dbt_packages/
dbt_internal_packages/
logs/

target/.lsp/
target/dev/
target/qa/
target/prod/run/
target/prod/compiled/
target/prod/graph.gpickle
target/prod/partial_parse.msgpack
target/prod/run_results.json
target/prod/semantic_manifest.json

package-lock.yml